# {{ ansible_managed }}
Host github.com
   Hostname ssh.github.com
   Port 443
   IdentityFile ~/.ssh/github/jenkins_rsa
{% if proxy_host != 'NONE' %}
   ProxyCommand corkscrew {{ proxy_host }} {{ proxy_port }} %h %p
{% endif %}
   StrictHostKeyChecking no
   PreferredAuthentications publickey
